body {
    font-family: Arial, sans-serif;
  }
  
  #chat {
    height: 3000px;
    overflow-y: scroll;
  }
  
  #form {
    margin-top: 200px;
  }
  
  #input {
    width: 2000px;
  }
  
  button {
    margin-left: 100px;
  }
  
